<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610458116321-t2vr88ulnec3vcd1lknfufnml96jlihd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610458116321-t2vr88ulnec3vcd1lknfufnml96jlihd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610458116321-s9fim5edjvtef5f8h7uhv2vcc5a54jp0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBD6QQWCFQKWKuBBxT2M9bN2IE2H9P6A8c</string>
	<key>GCM_SENDER_ID</key>
	<string>610458116321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikihyp.app</string>
	<key>PROJECT_ID</key>
	<string>vikihyp</string>
	<key>STORAGE_BUCKET</key>
	<string>vikihyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610458116321:ios:7a45b85f73eb29ca3417a0</string>
</dict>
</plist>